<ion-header>
  <ion-toolbar>
    <ion-title>labServiceMaster
        <button class="backBtn" type="button" (click)='backBtn()'>Cancel</button>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="masters">

    <button ion-button (click)="addItem()" class="addBtn">Add More</button><br><br>

  <form [formGroup]="serviceMasterForm" (ngSubmit)="submitForm()">
    <ion-list formArrayName="services" *ngFor="let a of serviceMasterForm.get('services').controls; let i = index">
        <!-- <ion-label color="primary">{{att.label}}{{idx+1}}</ion-label> -->
        <ion-card>
            <button class="cancelBtn" ion-button (click)="removeItem(i)">X</button>

            <div [formGroupName]="i" style="margin-bottom: 10px;">
        <ion-label> <b>Services</b></ion-label>
    <ion-select formControlName="service" placeholder="Select One">
      <ion-select-option *ngFor="let data of serviceList" value="{{data.name}}" >{{data.name}}</ion-select-option>
    </ion-select>
    <ion-label><b>Price</b></ion-label>
        <ion-input type="tel" placeholder="Enter Price" formControlName="price"></ion-input>
        </div>
      </ion-card>
    </ion-list>
    <div style="text-align:center">
        <button class="submitBtn" type="submit" *ngIf="serviceMasterForm.get('services').length" [disabled]="!serviceMasterForm.valid">
          Submit</button>

    </div>
    </form>
  </ion-content>