ion-select{
    opacity:1 !important;
    --placeholder-color: black;
    --placeholder-font-weight: bold;
}
.dropDown{
    margin-top: -31px;
    margin-left: 19%;
    width: 50%;
}
.comColor{
    color: green;
}
.canColor{
    color: red;
}