<ion-content class="ion-text-center">
 
  <ion-card>
    <div class="container">
    <div class="row justifyContent">
    <img class="pic" src="assets/img/success.png" />
   </div>
   <div class="row justifyContent">
     <span class="text">
       <strong>  Payment Successful !</strong>
     </span>
   </div>
   <div class="row justifyContent">
     <span>
       We are delighted to inform you that we received your payments
     </span>
   </div>
   <div class="row">
     <button class="btn-view-home" routerLink="/home">Home</button>
 
   </div>
 </div>
 </ion-card>
 </ion-content>