<ion-header>
  <ion-toolbar>
    <ion-title>paytmtest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <label>First Name:</label>
    <!-- <form method="POST" action="https://us-central1-diagnosticappbe.cloudfunctions.net/donate">
      
      <button type="submit">Submit</button>

</form> -->

<!-- <form id="paypal" name="paypal" action="https://us-central1-diagnosticappbe.cloudfunctions.net/donate"
 method="POST" target="_self" >
  <input name="name" value="aqueel">
        <input name="email" value="a@a.com">
        <input name="mobile" value="789456123">
        <input name="amount" required=required value="245.25">
  
  <input type="submit">
  </form>
 
  <div id="scroll" [innerHTML]="slideHtml"></div> -->
  <button ion-button color="primary" (click)="upi()">Upi</button>

</ion-content>
