.btn-view-home{
    display: block;
    border:1px solid #47c7c5;
    width:200px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 10px;
    color:#fff;
    background-color:#47c7c5;
    text-decoration: none;

}
 

  .pic {
     margin-top: 50px;
    width: 100px;
     padding-bottom: 25px;
  }

  ion-card{
    margin-top: 80px;
    margin-bottom: 60px;
    

  }

.justifyContent{
    justify-content: center;
}

.text{
   
    padding: 10px;
}

