<ion-content class="ion-text-center">
 
  <ion-card>
    <div class="container">
    <div class="row justifyContent">
    <img class="pic" src="assets/img/fail.png" />
   </div>
   <div class="row justifyContent">
     <span class="text">
       <strong> Transaction Failed</strong>
     </span>
   </div>
   <div class="row justifyContent">
     <span>
     Please try again
     </span>
   </div>
   <div class="row">
     <button class="btn-view-home" routerLink="/home">Home</button>
 
   </div>
 </div>
 </ion-card>
 </ion-content>